<div>

<!-- <app-auth-form (submittedUser) = "loginUser($event)">
</app-auth-form> -->

<!-- dynamically rendering auth-form component below -->

<div #entry>

    <div>
        <button (click)= "destroyComponent()">
            Destroy
        </button>
    </div>

    <div>
        <button (click)= "moveComponent()">
            Move
        </button>
    </div>

</div>

<div>

<ng-template #tmpl let-name let-location = "location" >
   <h1> {{ name }}, {{ location }} ! </h1>
</ng-template>


<!-- aliter implementation of dynamic template  -->


<ng-container
[ngTemplateOutlet] = "tmpl"
[ngTemplateOutletContext] = "ctx"
>


</ng-container>

</div>






</div>